openapi: 3.0.3
info:
  title: SuprSend API
  description: APIs supported on suprsend platform
  version: 1.2.2
servers:
  - url: https://hub.suprsend.com
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API_Key  # Just for documentation, doesn't enforce behavior
      description: "Pass as `Bearer <API_KEY>`. Get API Key from SuprSend dashboard Developers -> API Keys section."
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
      description: Bearer authentication header of the form `Bearer <token>`, where <token> is your auth token.
security:
  - sec0: []
  - BearerAuth: []
paths:
  /event/:
    post:
      summary: Trigger an Event
      security:
        - BearerAuth: []
      description: API to pass an event, which in turn triggers workflows where that event is defined as the trigger.
      operationId: event-api
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - distinct_id
                - event
              properties:
                distinct_id:
                  type: string
                  description: distinct_id of recipient who should receive the notification
                  default: _distinct_id_
                event:
                  type: string
                  description: string identifier for the event like `product_purchased`
                  default: _event_name_
                properties:
                  type: object
                  description: Properties are used to render template or workflow variables in the trigger.
                  properties:
                    $attachments:
                      type: array
                      description: Use this key to pass email attachment in the trigger. You can either pass attachment as a public URL or as a base64-encoded file (limit < 50KB).
                      items:
                        oneOf:
                          - type: object
                            description: Pass file as **publicly accessible URL** (No limit on file size)
                            required: [url]
                            properties:
                              url:
                                type: string
                                format: uri
                                description: Publicly accessible URL of the file
                                example: "https://bitcoincore.org/bitcoin.pdf"
                              filename:
                                type: string
                                description: Filename to be shown in email
                                example: "billing.pdf"
                              ignore_if_error:
                                type: boolean
                                description: Ignore the attachment if it fails to load

                          - type: object
                            description: Pass file as a **base-64 file** (supported limit < 50KB)
                            required: [data]
                            properties:
                              data:
                                type: string
                                format: string
                                description: Base64-encoded content of the file
                              filename:
                                type: string
                                description: Filename to be shown in email
                              contentType:
                                type: string
                                example: application/pdf
                  additionalProperties:
                    type: string
                tenant_id:
                  type: string
                  description: string identifier of the tenant this event is associated with
                $idempotency_key:
                  type: string
                  description: Idempotency key (valid for 24hours)
            examples:
              SHIPMENT ARRIVAL:
                value:
                  distinct_id: 0fxxx8f74-xxxx-41c5-8752-xxxcb6911fb08
                  event: ON SHIPMENT ARRIVAL
                  properties:
                    amount: 3780$
                    number: TRXC1034
                    vehicle: Truck
                    locations: San Francisco
      responses:
        '202':
          description: '202 - Accepted'
          content:
            application/json:
              examples:
                Result:
                  value: OK
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OK
      deprecated: false
  /v1/tenant/{tenant_id}:
    post:
      summary: Create / Update Tenants
      security:
        - BearerAuth: []
      description: API to create a new Tenant OR update an existing Tenant
      operationId: create-tenants
      parameters:
        - name: tenant_id
          in: path
          description: unique identifier of the tenant that you want to create / update
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - tenant_name
              properties:
                tenant_name:
                  type: string
                  description: Name of the tenant. You can add company / organization name here
                  default: Awesome Tenant
                logo:
                  type: string
                  description: URL of the tenant logo
                  default: https://ik.imagekit.io/l0quatz6utm/suprsend/staging/media/suprsend-only-logo_c8aa27faef118418e8c5bd7b31a1cafc74e09200.png
                primary_color:
                  type: string
                  description: Primary color of the tenant - used for designing tenant template. If you don't provide any of the colors for the tenant, SuprSend will assume you want to use the default values, so color settings will automatically be set to the color settings of default tenant.
                  default: '#ff0000'
                secondary_color:
                  type: string
                  description: Secondary color of the tenant - not used for designing the default templates. You can however add this property and use it in your templates
                  example: '#00ff00'
                tertiary_color:
                  type: string
                  description: Tertiary color of the tenant - not used for designing the default templates. You can however add this property and use it in your templates
                  example: '#0000ff'
                preference_page_url:
                  type: string
                  description: Link of the preference page inside the tenant product
                social_links:
                  type: object
                  description: urls of social media accounts of the tenant. If you really want to remove any social link, you must set its value="" (instead of null)
                  properties:
                    website:
                      type: string
                      description: link of tenant website. While updating a social link, if you want to remove the link, you must the value="" (instead of null)
                      default: https://suprsend.com
                    facebook:
                      type: string
                      description: tenant facebook page link
                    LinkedIn:
                      type: string
                      description: tenant linkedin page link
                    twitter:
                      type: string
                      description: tenant twitter page link
                    instagram:
                      type: string
                      description: tenant instagram page link
                    medium:
                      type: string
                      description: tenant medium page link
                    discord:
                      type: string
                      description: tenant discord page link
                    telegram:
                      type: string
                      description: tenant telegram page link
                    youtube:
                      type: string
                      description: tenant youtube page link
                properties:
                  type: object
                  description: Custom properties associated with the tenant. Update operation on properties works like upsert on 1st-level keys (i.e., if top-level key doesn't already exist, then it will be added, otherwise its value will be replaced by the new value. All other key-value pairs will remain unchanged).
                  additionalProperties:
                    type: string
      responses:
        '201':
          description: '201 - Created'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "tenant_id": "brand_id",
                    "tenant_name": "Awesome Tenant",
                    "logo": "https://ik.imagekit.io/l0quatz6utm/suprsend/staging/media/suprsend-only-logo_c8aa27faef118418e8c5bd7b31a1cafc74e09200.png",
                    "timezone": null,
                    "blocked_channels": [
                      "email"
                    ],
                    "embedded_preference_url": "https://app.suprsend.com/settings",
                    "hosted_preference_domain": "preferences.suprsend.com",
                    "primary_color": "#ff0000",
                    "secondary_color": "#0000ff",
                    "tertiary_color": "#00ffff",
                    "social_links": {
                      "website": "https://suprsend.com",
                      "facebook": "https://www.company.com",
                      "LinkedIn": "",
                      "twitter": "",
                      "instagram": "",
                      "medium": "",
                      "discord": "",
                      "telegram": "",
                      "youtube": ""
                    },
                    "properties": {
                      "k1": "v1",
                      "address": "my company address"
                    },
                    "updated_at": "2025-04-06T21:01:35.359787Z"
                  }
              schema:
                type: object
                description: Updated Object Payload is returned in response. JSON structure similar to request payload.
        '400':
          description: '400 - Bad Request'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 400,
                    "error_code": "error",
                    "type": "ValidationError",
                    "message": "{\"tenant_name\": [\"Ensure this field contains non-html text\"]}",
                    "detail": {
                      "tenant_name": [
                        "Ensure this field contains non-html text"
                      ]
                    }
                  }
              schema:
                type: object
                description: error code and message detailing the error
      deprecated: false
    get:
      summary: Get Tenant data
      security:
        - BearerAuth: []
      description: API to fetch tenant settings (logo, colors, links, preference) corresponding to a tenant_id.
      operationId: get-tenant
      parameters:
        - name: tenant_id
          in: path
          description: unique identifier of the tenant you want to get the details for
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "tenant_id": "brand_id",
                    "tenant_name": "Awesome Tenant",
                    "logo": "https://ik.imagekit.io/l0quatz6utm/suprsend/staging/media/suprsend-only-logo_c8aa27faef118418e8c5bd7b31a1cafc74e09200.png",
                    "timezone": null,
                    "blocked_channels": [
                      "email"
                    ],
                    "embedded_preference_url": "https://app.suprsend.com/settings",
                    "hosted_preference_domain": "preferences.suprsend.com",
                    "primary_color": "#ff0000",
                    "secondary_color": "#0000ff",
                    "tertiary_color": "#00ffff",
                    "social_links": {
                      "website": "https://suprsend.com",
                      "facebook": "https://www.company.com",
                      "linkedin": "",
                      "twitter": "",
                      "instagram": "",
                      "medium": "",
                      "discord": "",
                      "telegram": "",
                      "youtube": ""
                    },
                    "properties": {
                      "k1": "v1",
                      "address": "my company address"
                    },
                    "updated_at": "2025-04-06T21:01:35.359787Z"
                  }
              schema:
                type: object
                description: Updated Object Payload is returned in response. JSON structure similar to request payload.
        '404':
          description: '404 - Not Found'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "error_code": "not_found",
                    "type": "NotFound",
                    "message": "No tenant found for tenant_id tenant",
                    "detail": "No tenant found for tenant_id tenant"
                  }
              schema:
                type: object
                description: error code and message detailing the error
      deprecated: false
    delete:
      summary: Delete Tenant
      security:
        - BearerAuth: []
      description: API to permanently delete tenant and it's associated settings.
      operationId: delete-tenant
      parameters:
        - name: tenant_id
          in: path
          description: unique identifier of the tenant you want to get the details for
          schema:
            type: string
          required: true
      responses:
        '204':
          description: '204 - No Content'
          content:
            application/json:
              schema:
                type: object
        '404':
          description: '404 - Not Found'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "error_code": "not_found",
                    "type": "NotFound",
                    "message": "No tenant found for tenant_id 12",
                    "detail": "No tenant found for tenant_id 12"
                  }
              schema:
                type: object
                description: error code and message detailing the error
      deprecated: false
  /v1/tenant/:
    get:
      summary: Get Tenant List
      security:
        - BearerAuth: []
      description: API to fetch a paginated list of tenants available in your workspace.
      operationId: get-tenant-list
      parameters:
        - name: limit
          in: query
          description: number of results to be returned in API response
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          description: starting position of tenant list
          schema:
            type: integer
      responses:
        '200':
          description: '200 - OK'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "meta": {
                      "count": 28,
                      "limit": 20,
                      "offset": 0
                    },
                    "results": [
                      {
                        "tenant_id": "random_id",
                        "tenant_name": "Awesome Tenant",
                        "logo": "https://ik.imagekit.io/l0quatz6utm/suprsend/staging/media/suprsend-only-logo_c8aa27faef118418e8c5bd7b31a1cafc74e09200.png",
                        "timezone": null,
                        "blocked_channels": null,
                        "embedded_preference_url": "https://app.suprsend.com/en/user-settings/notifications",
                        "hosted_preference_domain": "preferences.suprsend.com",
                        "primary_color": "#ff0000",
                        "secondary_color": null,
                        "tertiary_color": null,
                        "social_links": {
                          "website": "https://suprsend.com",
                          "facebook": "",
                          "linkedin": "",
                          "twitter": "",
                          "instagram": "",
                          "medium": "",
                          "discord": "",
                          "telegram": "",
                          "youtube": ""
                        },
                        "properties": {},
                        "updated_at": "2025-04-06T20:57:16.935605Z"
                      }]
                    }
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        example: 28
                        description: Total number of results returned.
                      limit:
                        type: integer
                        example: 20
                      offset:
                        type: integer
                        example: 0
                        description: offset passed in request
                  results:
                    type: array
                    description: List of tenants available in the workspace. Tenant JSON is same as tenant upsert response.
                    items:
                      type: object
                      properties:
                        tenant_id:
                          type: string
                          example: random_id
                        tenant_name:
                          type: string
                          example: Awesome Tenant
                        logo:
                          type: string
                          format: uri
                          example: https://logo.png
                        timezone:
                          type: string
                          nullable: true
                          description: timezone of the tenant. Used as fallback if user's timezone is not set.
                          example: America/New_York
                        blocked_channels:
                          type: string
                          nullable: true
                          example: ["email","sms"]
                          description: channels that are blocked for the tenant.
                        embedded_preference_url:
                          type: string
                          format: uri
                          example: https://app.suprsend.com/en/user-settings/notifications
                          description: url of the preference page inside the tenant product.
                        hosted_preference_domain:
                          type: string
                          example: preferences.suprsend.com
                          description: domain of the hosted preference page.
                        primary_color:
                          type: string
                          example: "#ff0000"
                        secondary_color:
                          type: string
                          nullable: true
                          example: "#ff0000"
                        tertiary_color:
                          type: string
                          nullable: true
                          example: "#ff0000"
                        social_links:
                          type: object
                          properties:
                            website:
                              type: string
                              example: https://suprsend.com
                            facebook:
                              type: string
                              example: ""
                            linkedin:
                              type: string
                              example: ""
                            twitter:
                              type: string
                              example: ""
                            instagram:
                              type: string
                              example: ""
                            medium:
                              type: string
                              example: ""
                            discord:
                              type: string
                              example: ""
                            telegram:
                              type: string
                              example: ""
                            youtube:
                              type: string
                              example: ""
                        properties:
                          type: object
                          additionalProperties: true
                          example: {"address":"my company address"}
                        updated_at:
                          type: string
                          format: date-time
                          example: "2025-04-06T20:57:16.935605Z"
      deprecated: false
  /v1/subscriber_list/{list_id}/subscriber/remove:
    post:
      summary: Remove Subscribers from List
      security:
        - BearerAuth: []
      description: API to remove users from a list by passing their distinct_ids.
      operationId: remove-users-from-list
      parameters:
        - name: list_id
          in: path
          description: Unique string idenitifier of the list to which user needs to be updated
          required: true
          schema:
            type: string
            default: _list_id_
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                distinct_ids:
                  type: array
                  description: Array of subscriber_ids, uniquely identifying the subscribers to be removed from the list.
                  default:
                    - _distinct_id1_
                  items:
                    type: string
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "success": true,
                    "affected_count": 0
                  }
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  affected_count:
                    type: integer
                    example: 0
                required:
                  - success
                  - affected_count
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "error_code": "not_found",
                    "type": "NotFound",
                    "message": "list_id: _list_id_ not found",
                    "detail": "list_id: _list_id_ not found"
                  }
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  error_code:
                    type: string
                    example: not_found
                  type:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: "list_id: _list_id_ not found"
                  detail:
                    type: string
                    example: "list_id: _list_id_ not found"
      deprecated: false
  /v1/subscriber_list/:
    get:
      summary: Get all Lists
      security:
        - BearerAuth: []
      description: API to fetch a paginated list of all lists created in your workspace.
      operationId: get-all-lists
      parameters:
        - name: limit
          in: query
          description: number of results to be returned in API response
          schema:
            type: string
            default: '20'
        - name: offset
          in: query
          description: starting position of tenant list
          schema:
            type: string
            default: '0'
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "meta": {
                      "count": 53,
                      "limit": 2,
                      "offset": 0
                    },
                    "results": [
                      {
                        "drafts": null,
                        "source": null,
                        "status": "active",
                        "list_id": "list_01",
                        "list_name": "sample list 01",
                        "list_type": "static_list",
                        "created_at": "2025-04-04T07:33:06.943+00:00",
                        "updated_at": "2025-04-04T07:33:06.943+00:00",
                        "version_id": null,
                        "is_readonly": false,
                        "track_user_exit": false,
                        "list_description": "_some sample description_",
                        "track_user_entry": false,
                        "subscribers_count": 0,
                        "requested_for_delete": false
                      },
                      {
                        "drafts": null,
                        "source": "database_sync",
                        "status": "active",
                        "list_id": "list_02",
                        "list_name": "sample list 02",
                        "list_type": "static_list",
                        "created_at": "2024-12-20T12:09:28.727+00:00",
                        "updated_at": "2025-04-04T07:32:32.127275+00:00",
                        "version_id": null,
                        "is_readonly": false,
                        "track_user_exit": true,
                        "list_description": "_some sample description_",
                        "track_user_entry": true,
                        "subscribers_count": 31,
                        "requested_for_delete": false
                      }
                    ]
                  }
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        example: 53
                      limit:
                        type: integer
                        example: 2
                      offset:
                        type: integer
                        example: 0
                  results:
                    type: array
                    items:
                      type: object
                      description: List object similar to list upsert function.
        '401':
          description: '401'
          content:
            application/json:
              examples:
                Result:
                  value: Not Authenticated - could not find Workspace details
              schema:
                type: object
                description: error message details
      deprecated: false
    post:
      summary: Create a List
      security:
        - BearerAuth: []
      description: API to create / manage lists to send notification to a bulk list of users.
      operationId: create-list
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - list_id
              properties:
                list_id:
                  type: string
                  description: Unique string idenitifier of the list. Add an id which defines the type of users who are part of the list
                  default: _list_id_
                list_name:
                  type: string
                  description: Name of the List. Add a name which defines the type of users in the list
                  default: _list_name_
                list_description:
                  type: string
                  default: _some sample description_
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "list_id": "product_updates",
                    "list_name": "Product Update",
                    "list_description": "Users subscribed to the newsletter",
                    "list_type": "static_list",
                    "subscribers_count": 3,
                    "source": "database_sync",
                    "is_readonly": false,
                    "status": "active",
                    "track_user_entry": false,
                    "track_user_exit": false,
                    "requested_for_delete": false,
                    "created_at": "2024-02-21T19:10:01.906000Z",
                    "updated_at": "2025-04-04T07:25:43.186475Z",
                    "drafts": null
                  }
              schema:
                type: object
                properties:
                  list_id:
                    type: string
                    example: "product_updates"
                  list_name:
                    type: string
                    example: "Product Update"
                  list_description:
                    type: string
                    example: "Users subscribed to the newsletter"
                  list_type:
                    type: string
                    enum: ["static_list","query_based"]
                  subscribers_count:
                    type: integer
                    description: number of users in the list
                  source:
                    type: string
                    description: source info on how the list is updated
                    example: "database_sync"
                  is_readonly:
                    type: boolean
                    example: false
                  status:
                    type: string
                    example: "active"
                  track_user_entry:
                    type: boolean
                    description: Event `$USER_ENTERED_LIST - <list_id>` is generated when user is added this list. Use this to trigger workflow on user entry.
                  track_user_exit:
                    type: boolean
                    description: Event `$USER_EXITED_LIST - <list_id>` is generated when user is removed from this list. Use this to trigger workflow on user exit.
                  requested_for_delete:
                    type: boolean
                    example: false
                  created_at:
                    type: string
                    format: date-time
                    example: "2024-02-21T19:10:01.906000Z"
                  updated_at:
                    type: string
                    format: date-time
                    example: "2025-04-04T07:25:43.186475Z"
                  drafts:
                    type: string
                    nullable: true
                    description: would show the draft list created to replace list users.
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 400,
                    "error_code": "error",
                    "type": "ValidationError",
                    "message": "{\"list_id\": [\"This field may not be blank.\"]}",
                    "detail": {
                      "list_id": [
                        "This field may not be blank."
                      ]
                    }
                  }
              schema:
                type: object
                description: error code and related message detailing out the error
      deprecated: false
  /{workspace_key}/trigger/:
    post:
      summary: Dynamic Workflow Trigger
      security:
        - BearerAuth: []
      description: API to dynamically create and trigger a single step workflow.
      operationId: dynamic-workflow-trigger
      parameters:
        - name: workspace_key
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - template
                - notification_category
                - users
              properties:
                name:
                  type: string
                  description: Unique name of the workflow. The workflow name should be easily identifiable for your reference at a later stage. You can see workflow-related analytics on the workflow page (how many notifications were sent, delivered, clicked or interacted).
                  default: _workflow_name_
                template:
                  type: string
                  description: Unique slug of the template created on SuprSend dashboard. You can get this by clicking on the clipboard icon next to the Template name on SuprSend templates page.
                  default: _template_slug_
                notification_category:
                  type: string
                  description: Used to apply user category level [preferences]("/docs/user-preferences") on notification trigger.
                  default: transactional
                users:
                  type: array
                  description: Array object of target users.
                  items:
                    properties:
                      distinct_id:
                        type: string
                        description: unique identifier of the user
                        default: _distinct_id_
                      $channels:
                        type: array
                        description: send notification on selected channels in user profile. Following channel keys can be used - email, sms, whatsapp, androidpush, iospush, slack, webpush
                        default: []
                        items:
                          type: string
                      $email:
                        type: array
                        description: To trigger notification on a particular email
                        default: []
                        items:
                          type: string
                      $sms:
                        type: array
                        description: Send SMS on a particular number.
                        default: []
                        items:
                          type: string
                      $whatsapp:
                        type: array
                        description: Send Whatsapp on a particular number.
                        default: []
                        items:
                          type: string
                      $androidpush:
                        type: array
                        description: Send androidpush on the given push token
                        items:
                          properties:
                            token:
                              type: string
                              description: Androidpush token
                              default: __android_push_token__
                            provider:
                              type: string
                              description: vendor delivering the push notification
                              default: fcm
                            device_id:
                              type: string
                              description: unique identifier of user's device. This is used to avoid sending duplicate push notification on the user's device
                          required:
                            - token
                            - provider
                          type: object
                      $iospush:
                        type: array
                        description: Send iOSpush on the given push token
                        items:
                          properties:
                            token:
                              type: string
                              description: iOSpush token
                              default: __ios_push_token__
                            provider:
                              type: string
                              description: vendor delivering the push notification
                              default: apns
                            device_id:
                              type: string
                              description: unique identifier of user's device. This is used to avoid sending duplicate push notification on the same device
                          required:
                            - token
                            - provider
                          type: object
                      $slack:
                        type: string
                        description: |
                          Send Slack on a particular channel in user's profile. Use one of the methods to add slack token -
                          1. slack using email: `{"email": "user@example.com", "access_token": "xoxb-XXXXXXXX"}`
                          2. slack using member_id: `{"user_id": "U/WXXXXXXXX", "access_token": "xoxb-XXXXXXXX"}`
                          3. slack channel: `{"channel": "CXXXXXXXX", "access_token": "xoxb-XXXXXXXX"}`
                          4. slack incoming webhook: `{"incoming_webhook": { "url": "https://hooks.slack.com/services/TXXXX/BXXXX/XXXXXXX"}}'`
                        format: json
                    required:
                      - distinct_id
                    type: object
                data:
                  type: object
                  description: variable data required to render dynamic template content or workflow properties like dynamic delay or channel override in send node.
                  properties:
                    $attachments:
                      type: array
                      description: Use this key to pass email attachment in the trigger. You can either pass attachment as a public URL or as a base64-encoded file (limit < 50KB).
                      items:
                        oneOf:
                          - type: object
                            description: Pass file as **publicly accessible URL** (No limit on file size)
                            required: [url]
                            properties:
                              url:
                                type: string
                                format: uri
                                description: Publicly accessible URL of the file
                                example: "https://bitcoincore.org/bitcoin.pdf"
                              filename:
                                type: string
                                description: Filename to be shown in email
                                example: "billing.pdf"
                              ignore_if_error:
                                type: boolean
                                description: Ignore the attachment if it fails to load

                          - type: object
                            description: Pass file as a **base-64 file** (supported limit < 50KB)
                            required: [data]
                            properties:
                              data:
                                type: string
                                format: string
                                description: Base64-encoded content of the file
                              filename:
                                type: string
                                description: Filename to be shown in email
                              contentType:
                                type: string
                                example: application/pdf
                  additionalProperties:
                    type: string
                delivery:
                  type: object
                  description: delivery instructions for the workflow. You can set [Smart Delivery](https://docs.suprsend.com/docs/smart-delivery) preference by setting "smart":true
                  properties:
                    smart:
                      type: boolean
                      description: You can enable smart delivery by setting it true
                      default: false
                    success:
                      type: string
                      description: Success event for stopping further notification in case smart is set to true. You can set notification status like delivery, interaction or custom success event
                      default: seen
                    time_to_live:
                      type: string
                      description: |
                        Time window to define delay between subsequent channel trigger in case of smart delivery.
                        Delay = `time_to_live / (number_of_channels - 1)`. Format - `XXdXXhXXmXXs` or if its number (n) then delay is in seconds (n)
                    mandatory_channels:
                      type: array
                      description: Channels on which notification has to be sent immediately in case of smart delivery. Following channel keys can be used - email, sms, whatsapp, androidpush, iospush, slack, webpush
                      items:
                        type: string
                delay:
                  type: string
                  description: Workflow will be halted for the time mentioned in delay, and become active once the delay period is over. Format - `XXdXXhXXmXXs` or if its number (n) then delay is in seconds (n)
                trigger_at:
                  type: string
                  description: Trigger workflow on a specific date-time. Format - date string in ISO 8601 e.g. "2022-08-27T20:14:51.643Z"
                  format: date
                tenant_id:
                  type: string
                  description: string identifier of the tenant this workflow is associated with
                $idempotency_key:
                  type: string
                  description: Unique identifier of the request (deduplicates request for 24hrs)
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: Accepted - OK
              schema:
                type: string
                example: "Accepted - OK"
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "status": "fail",
                    "message": "BAD REQUEST"
                  }
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "fail"
                    description: "Indicates the failure status of the request."
                  message:
                    type: string
                    example: "BAD REQUEST"
                    description: "Describes the reason for the failure."
      deprecated: false
  /v1/user/{distinct_id}/preference/category/:
    get:
      summary: All Categories
      security:
        - BearerAuth: []
      description: API to fetch user preferences across all categories.
      operationId: get-user-preference-all-categories
      parameters:
        - name: distinct_id
          in: path
          description: distinct_id of the user whose preferences should be fetched
          schema:
            type: string
          required: true
        - name: tenant_id
          in: query
          description: to fetch user preferences for a particular tenant
          schema:
            type: string
        - name: show_opt_out_channels
          in: query
          description: set this flag to `true` if you want to fetch channel list for opt-out categories.
          schema:
            type: boolean
            default: true
        - name: tags
          in: query
          description: >
            Filter preference categories with tags assigned to them. Used to filter preference categories relevant to the user on UI based on their roles, department or teams.

            You can apply single tag filter like `tags=tag1` or build nested conditions using logical operators - `and`, `or`, `not`, `exists`.


            Example:

            ```

            tags=admin

            tags={"or":[{"and":["admin","sales"]},{"and":["admin","manager"]}]}

            tags={"not":"admin"}

            tags={"exists":true}
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "meta": {
                      "count": 12,
                      "limit": 10,
                      "offset": 0
                    },
                    "results": [
                      {
                        "name": "Newsletter",
                        "category": "newsletter",
                        "description": "Send me updates on new product updates",
                        "original_preference": null,
                        "preference": "opt_in",
                        "is_editable": false,
                        "channels": [
                          {
                            "channel": "email",
                            "preference": "opt_in",
                            "is_editable": false
                          },
                          {
                            "channel": "ms_teams",
                            "preference": "opt_in",
                            "is_editable": false
                          }
                        ]
                      }
                    ]
                  }
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        example: 12
                      limit:
                        type: integer
                        example: 10
                      offset:
                        type: integer
                        example: 0
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: Newsletter
                        category:
                          type: string
                          example: newsletter
                        description:
                          type: string
                          example: Send me updates on new product updates
                        original_preference:
                          type: string
                          description: "default preference of the category"
                          nullable: true
                          example: null
                        preference:
                          type: string
                          enum: ["opt_in", "opt_out"]
                          example: opt_in
                          description: "updated user preference of the category"
                        is_editable:
                          type: boolean
                          description: "false when category default preference is set to `can't unsubscribe`"
                          example: false
                        channels:
                          type: array
                          description: "channel level preference in the category"
                          items:
                            type: object
                            properties:
                              channel:
                                type: string
                                example: email
                              preference:
                                type: string
                                example: opt_in
                              is_editable:
                                type: boolean
                                example: false
        '404':
          description: '404 - Not Found'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "message": "user [distinct_id: 'user1'] not found"
                  }
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: "user [distinct_id: 'user1'] not found"
      deprecated: false
  /v1/subscriber_list/{list_id}/subscriber/add:
    post:
      summary: Add Users to List
      security:
        - BearerAuth: []
      description: API to add users to the list by passing their distinct_ids.
      operationId: add-subscribers-to-list
      parameters:
        - name: list_id
          in: path
          description: Unique string idenitifier of the list to which user needs to be updated
          required: true
          schema:
            type: string
            default: _list_id_
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                distinct_ids:
                  type: array
                  description: Array of subscriber_ids, uniquely identifying the subscribers to be added to the list.
                  default:
                    - _distinct_id1_
                  items:
                    type: string
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "success": true,
                    "affected_count": 0
                  }
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  affected_count:
                    type: integer
                    example: 2
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "error_code": "not_found",
                    "type": "NotFound",
                    "message": "list_id: _list_id_ not found",
                    "detail": "list_id: _list_id_ not found"
                  }
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  error_code:
                    type: string
                    example: not_found
                  type:
                    type: string
                    example: NotFound
                  message:
                    type: string
                    example: "list_id: _list_id_ not found"
                  detail:
                    type: string
                    example: "list_id: _list_id_ not found"
      deprecated: false
  /v1/subscriber_list/{list_id}/:
    get:
      summary: Get List configuration
      security:
        - BearerAuth: []
      description: API to fetch list metadata like list type, count, source, and status. Doesn't include users in the list.
      operationId: get-list
      parameters:
        - name: list_id
          in: path
          description: Unique string idenitifier of the list.
          required: true
          schema:
            type: string
            default: _list_id_
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "list_id": "product_updates",
                    "list_name": "Product Update",
                    "list_description": "Users subscribed to the newsletter",
                    "list_type": "static_list",
                    "subscribers_count": 3,
                    "source": "database_sync",
                    "is_readonly": false,
                    "status": "active",
                    "track_user_entry": false,
                    "track_user_exit": false,
                    "requested_for_delete": false,
                    "created_at": "2024-02-21T19:10:01.906000Z",
                    "updated_at": "2025-04-04T07:25:43.186475Z",
                    "drafts": null
                  }
              schema:
                type: object
                properties:
                  list_id:
                    type: string
                    example: "product_updates"
                  list_name:
                    type: string
                    example: "Product Update"
                  list_description:
                    type: string
                    example: "Users subscribed to the newsletter"
                  list_type:
                    type: string
                    enum: ["static_list","query_based"]
                  subscribers_count:
                    type: integer
                    description: number of users in the list
                  source:
                    type: string
                    description: source info on how the list is updated
                    example: "database_sync"
                  is_readonly:
                    type: boolean
                    example: false
                  status:
                    type: string
                    example: "active"
                  track_user_entry:
                    type: boolean
                    description: Event `$USER_ENTERED_LIST - <list_id>` is generated when user is added this list. Use this to trigger workflow on user entry.
                  track_user_exit:
                    type: boolean
                    description: Event `$USER_EXITED_LIST - <list_id>` is generated when user is removed from this list. Use this to trigger workflow on user exit.
                  requested_for_delete:
                    type: boolean
                    example: false
                  created_at:
                    type: string
                    format: date-time
                    example: "2024-02-21T19:10:01.906000Z"
                  updated_at:
                    type: string
                    format: date-time
                    example: "2025-04-04T07:25:43.186475Z"
                  drafts:
                    type: string
                    nullable: true
                    description: would show the draft list created to replace list users.
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "error_code": "not_found",
                    "type": "NotFound",
                    "message": "list_id: list_id_01 not found",
                    "detail": "list_id: list_id_01 not found"
                  }
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  error_code:
                    type: string
                    example: "not_found"
                  type:
                    type: string
                    example: "NotFound"
                  message:
                    type: string
                    example: "list_id: list_id_01 not found"
                  detail:
                    type: string
                    example: "list_id: list_id_01 not found"
                required:
                  - code
                  - error_code
                  - type
                  - message
                  - detail
      deprecated: false
  /{workspace_key}/broadcast:
    post:
      summary: Trigger Broadcast
      security:
        - BearerAuth: []
      description: API to trigger broadcast notification to list users.
      operationId: trigger-broadcast
      parameters:
        - name: workspace_key
          in: path
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - list_id
                - template
                - notification_category
              properties:
                list_id:
                  type: string
                  description: unique identifier to user list that you want to send broadcast messages to.
                  default: _list_id_
                template:
                  type: string
                  description: Unique slug name of the template created on SuprSend dashboard. You can get this by clicking on the clipboard icon next to the Template name on SuprSend templates page.
                  default: _template_slug_
                notification_category:
                  type: string
                  description: Category in which your notification belongs. You can understand more about them in the [Notification Category](https://docs.suprsend.com/docs/notification-category) documentation
                  default: transactional
                channels:
                  type: array
                  description: If set, broadcast will be sent only on the channels defined here irrespective of communication channels present in user profile.
                  items:
                    type: string
                data:
                  type: object
                  properties: {}
                  description: Mock data to replace the template variables.
                delay:
                  type: string
                  description: Broadcast will be halted for the time mentioned in delay, and become active once the delay period is over. Format - `XXdXXhXXmXXs` or if its number (n) then delay is in seconds (n)
                trigger_at:
                  type: string
                  description: Trigger broadcast on a specific date-time. Format - date string in ISO 8601 e.g. "2022-08-27T20:14:51.643Z"
                  format: date
                tenant_id:
                  type: string
                  description: string identifier of the tenant this broadcast is associated with
      responses:
        '202':
          description: '202 - Accepted'
          content:
            application/json:
              examples:
                Result:
                  value: Ok
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Accepted - OK"
        '400':
          description: '400 - Bad Request'
          content:
            application/json:
              examples:
                Result:
                  value: BAD REQUEST
              schema:
                type: string
                description: Error in case the API request is missing mandatory fields
      deprecated: false
  /v1/user/{distinct_id}/preference/channel_preference/:
    get:
      summary: All Channels
      security:
        - BearerAuth: []
      description: API to retrieve user preferences for all channels.
      operationId: get-user-preference-channel
      parameters:
        - name: distinct_id
          in: path
          description: distinct_id of the user whose preferences should be fetched
          schema:
            type: string
          required: true
        - name: tenant_id
          in: query
          description: to fetch user preferences for a particular tenant
          schema:
            type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "channel_preferences": [
                      {
                        "channel": "androidpush",
                        "is_restricted": false
                      },
                      {
                        "channel": "email",
                        "is_restricted": false
                      }
                    ]
                  }
              schema:
                type: object
                properties:
                  channel_preferences:
                    type: array
                    items:
                      type: object
                      properties:
                        channel:
                          type: string
                          example: "androidpush"
                        is_restricted:
                          type: boolean
                          description: True means notification will be sent in categories where this channel is marked as mandatory channel. False means opt_in on channel.
        '404':
          description: '404 - Not Found'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "message": "user [distinct_id: 'user1'] not found"
                  }
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: "user [distinct_id: 'user1'] not found"
      deprecated: false
    patch:
      summary: Overall Channel level
      security:
        - BearerAuth: []
      description: API to update user preferences across all channels.
      operationId: update-user-preference-channel
      parameters:
        - name: distinct_id
          in: path
          description: distinct_id of the user whose preferences should be fetched
          schema:
            type: string
          required: true
        - name: tenant_id
          in: query
          description: to fetch user preferences for a particular tenant
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                channel_preferences:
                  type: array
                  description: Use this to update channel level user preferences. Set `is_restricted - true` if the channel is opted_out by the user. This will only send critical notifications to the user which can't be opted out
                  items:
                    properties:
                      channel:
                        type: string
                        description: Add channel as `email`, `inbox`, `sms`, `whatsapp`, `androidpush`, `slack`, `iospush`, `webpush`
                        default: email
                      is_restricted:
                        type: boolean
                        description: set `is_restricted = true` if user wants to receive notification in mandatory categories on this channel. Mandatory categories are `can't unsubscribe` categories and the above channel is added as `mandatory channel` in that category
                        default: false
                    type: object
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "channel_preferences": [
                      {
                        "channel": "email",
                        "is_restricted": true
                      },
                      {
                        "channel": "inbox",
                        "is_restricted": false
                      }
                    ]
                  }
              schema:
                type: object
                properties:
                  channel_preferences:
                    type: array
                    items:
                      type: object
                      properties:
                        channel:
                          type: string
                          example: "email"
                        is_restricted:
                          type: boolean
                          example: "true"
        '400':
          description: '400 - Bad Request'
          content:
            application/json:
              examples:
                Result:
                  value:  {
                    "code": 400,
                    "detail": {
                      "channel_preferences[0].channel": "must be one of [\"sms\", \"email\", \"androidpush\" \"iospush\", \"webpush\", \"inbox\", \"whatsapp\", \"slack\", \"ms_teams\"]"
                    },
                    "message": "{\"channel_preferences[0].channel\": must be one of [\"sms\", \"email\", \"androidpush\" \"iospush\", \"webpush\", \"inbox\", \"whatsapp\", \"slack\", \"ms_teams\"]"
                  }
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 400
                  detail:
                    type: object
                    description: error details
                  message:
                    type: string
                    description: error message
      deprecated: false
  /v1/user/{distinct_id}/preference/category/{category_slug}/:
    patch:
      summary: Category and Channel within Category
      security:
        - BearerAuth: []
      description: API to update user preferences for a specific notification category.
      operationId: update-user-preference-category
      parameters:
        - name: distinct_id
          in: path
          description: distinct_id of the user whose preferences should be fetched
          schema:
            type: string
          required: true
        - name: tenant_id
          in: query
          description: to fetch user preferences for a particular tenant
          schema:
            type: string
        - name: category_slug
          in: path
          description: notification category slug. You can get this from Notification Categories page on SuprSend dashboard -> Settings page
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preference:
                  type: string
                  description: 'choose one of the options: `opt_in` if the user has allowed notification in this category and `opt_out` if user wants to discontinue notification in this category'
                  default: opt_in
                opt_out_channels:
                  type: array
                  description: Add array of channels if user wants to unsubscribe from particular channels in this category. Add channels as `email`, `sms`, whatsapp`, `androidpush`, `inbox`, `iospush`, `slack`, `webpush`
                  items:
                    type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "name":"Status Update Alert",
                    "category":"status-update-alert",
                    "description":"Send me updates when account status changes",
                    "original_preference":"opt_in",
                    "preference":"opt_in",
                    "is_editable":true,
                    "channels":[
                       {
                          "channel":"email",
                          "preference":"opt_in",
                          "is_editable":true
                       },
                       {
                          "channel":"ms_teams",
                          "preference":"opt_in",
                          "is_editable":true
                       },
                       {
                          "channel":"slack",
                          "preference":"opt_in",
                          "is_editable":true
                       }
                    ]
                  }
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: Status Update Alert
                  category:
                    type: string
                    example: status-update-alert
                  description:
                    type: string
                    example: Send me updates when account status changes
                  original_preference:
                    type: string
                    description: default preference of the category
                    example: opt_in
                  preference:
                    type: string
                    description: final user preference of the category
                    example: opt_in
                  is_editable:
                    type: boolean
                    description: "false for categories where default preference is set to can't unsubscribe"
                    example: true
                  channels:
                    type: array
                    items:
                      type: object
                      properties:
                        channel:
                          type: string
                          example: email
                        preference:
                          type: string
                          enum: ["opt_in", "opt_out"]
                          example: opt_in
                        is_editable:
                          type: boolean
                          example: true
        '404':
          description: '404 - Not Found'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "message": "category '_category_slug_' not found"
                  }
              schema:
                type: object
                description: error code and message detailing the error
      deprecated: false
  /v1/tenant/{tenant_id}/category/{category_slug}/:
    patch:
      summary: Update Tenant Default Preference
      security:
        - BearerAuth: []
      description: API to update tenant default preferences for a specific notification category.
      operationId: update-brand-default-preference
      parameters:
        - name: tenant_id
          in: path
          description: unique identifier of the brand/tenant you want to update default preferences for
          schema:
            type: string
          required: true
        - name: category_slug
          in: path
          description: notification category slug. You can get this from Notification Categories page on SuprSend dashboard -> Settings page
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preference:
                  type: string
                  description: set `**opt_in**` to send notifications on all channels by default <br>  set `**opt_out**` to not send notifications in this category by default. For instance, **newsletter** <br>  set `**cant_unsubscribe**`if you do not want users to completely opt-out from this category. Notifications will always be sent on mandatory channels in this category.
                  default: opt_in
                visible_to_subscriber:
                  type: boolean
                  description: set it `false` to hide a category from user's preference page
                mandatory_channels:
                  type: array
                  description: Add mandatory channels that the user can't unsubscribe from if preference is `cant_unsubscribe`. Add channels as `email`, `sms`, `whatsapp`, `androidpush`, `inbox`, `iospush`, `slack`, `webpush`
                  items:
                    type: string
      responses:
        '202':
          description: '202'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "name": "Status Update Alert",
                    "category": "status-update-alert",
                    "description": "Send me updates when account status changes",
                    "root_category": "transactional",
                    "default_preference": "opt_in",
                    "default_mandatory_channels": null,
                    "visible_to_subscriber": true,
                    "preference": "opt_in",
                    "mandatory_channels": null,
                    "blocked_channels": null
                  }
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: preference category name
                  category:
                    type: string
                    description: unique preference category slug. You can get it by clicking on category name on SuprSend dashboard -> preference page
                  description:
                    type: string
                  root_category:
                    type: string
                    description: root category this sub-category belongs to
                    example: "transactional"
                  default_preference:
                    type: string
                    enum: ["cant_unsubscribe", "opt_in", "opt_out"]
                    description: default preference of the category
                  mandatory_channels:
                    type: array
                    description: mandatory channels in case default preference is can't unsubscribe
                    items:
                      type: string
                  visible_to_subscriber:
                    type: boolean
                    description: set it `false` to hide a category from user's preference page
                  preference:
                    type: string
                    enum: ["opt_in", "opt_out"]
                  blocked_channels:
                    type: array
                    description: channels blocked in the category from SuprSend dashboard -> tenants page
                    items:
                      type: string
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "message": "tenant 'brand/tenant_id' not found"
                  }
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: "tenant 'brand/tenant_id' not found"
      deprecated: false
  /v1/subscriber_list/{list_id}/delete:
    patch:
      summary: Delete List
      security:
        - BearerAuth: []
      description: API to permanently delete a list.
      operationId: delete-list
      parameters:
        - name: list_id
          in: path
          description: Unique string idenitifier of the list which you want to delete
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "success": true
                  }
              schema:
                type: object
                description: Success message when the list is successfully deleted
        '404':
          description: '404 - Not Found'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "error_code": "not_found",
                    "type": "NotFound",
                    "message": "list_id: <list_id> not found",
                    "detail": "list_id: <list_id> not found"
                  }
              schema:
                type: object
                description: Error message that the list requested for delete is not found
      deprecated: false
  /v1/user/{distinct_id}/preference/category/{category_slug}:
    get:
      summary: Single Category
      security:
        - BearerAuth: []
      description: API to fetch user preferences for a given category.
      operationId: get-user-preferences-single-category
      parameters:
        - name: distinct_id
          in: path
          description: distinct_id of the user whose preferences should be fetched
          schema:
            type: string
          required: true
        - name: tenant_id
          in: query
          description: to fetch user preferences for a particular tenant
          schema:
            type: string
        - name: category_slug
          in: path
          description: notification category slug. You can get this from Notification Categories page on SuprSend dashboard -> Settings page
          schema:
            type: string
          required: true
        - name: show_opt_out_channels
          in: query
          description: set this flag to `true` if you want to fetch channel list for opt-out categories.
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "name": "Newsletter",
                    "category": "newsletter",
                    "description": "Send me updates on new product updates",
                    "original_preference": null,
                    "preference": "opt_in",
                    "is_editable": false,
                    "channels": [
                      {
                        "channel": "email",
                        "preference": "opt_in",
                        "is_editable": false
                      },
                      {
                        "channel": "ms_teams",
                        "preference": "opt_in",
                        "is_editable": false
                      }
                    ]
                  }
              schema:
                type: object
                properties:
                  name:
                    type: string
                    example: Newsletter
                  category:
                    type: string
                    example: newsletter
                  description:
                    type: string
                    example: Send me updates on new product updates
                  original_preference:
                    type: string
                    description: "default preference of the category"
                    nullable: true
                    example: null
                  preference:
                    type: string
                    example: opt_in
                  is_editable:
                    type: boolean
                    description: "false when category default preference is set to `can't unsubscribe`"
                    example: false
                  channels:
                    type: array
                    description: "channel level preference in the category"
                    items:
                      type: object
                      properties:
                        channel:
                          type: string
                          example: email
                        preference:
                          type: string
                          example: opt_in
                        is_editable:
                          type: boolean
                          example: false
        '404':
          description: '404 - Not Found'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "message": "category 'category_slug' not found"
                  }
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: "category 'category_slug' not found"
      deprecated: false
  /v1/tenant/{tenant_id}/category/:
    get:
      summary: Get Tenant Default Preference
      security:
        - BearerAuth: []
      description: API to get default tenant preference for all categories.
      operationId: get-tenant-default-preference
      parameters:
        - name: tenant_id
          in: path
          description: unique identifier of the tenant you want to get default preferences for
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "meta": {
                      "count": 12,
                      "limit": 10,
                      "offset": 0
                    },
                    "results": [
                      {
                        "name": "Status Update Alert",
                        "category": "status-update-alert",
                        "description": "Send me updates when account status changes",
                        "root_category": "transactional",
                        "default_preference": "opt_in",
                        "default_mandatory_channels": null,
                        "visible_to_subscriber": true,
                        "preference": "opt_in",
                        "mandatory_channels": null,
                        "blocked_channels": null
                      }
                    ]
                  }
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        example: 12
                      limit:
                        type: integer
                        example: 10
                      offset:
                        type: integer
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: preference category name
                        category:
                          type: string
                          description: unique preference category slug. You can get it by clicking on category name on SuprSend dashboard -> preference page
                        description:
                          type: string
                        root_category:
                          type: string
                          description: root category this sub-category belongs to
                          example: "transactional"
                        default_preference:
                          type: string
                          enum: ["cant_unsubscribe", "opt_in", "opt_out"]
                          description: default preference of the category
                        mandatory_channels:
                          type: array
                          description: mandatory channels in case default preference is can't unsubscribe
                          items:
                            type: string
                        visible_to_subscriber:
                          type: boolean
                          description: set it `false` to hide a category from user's preference page
                        preference:
                          type: string
                          enum: ["opt_in", "opt_out"]
                        blocked_channels:
                          type: array
                          description: channels blocked in the category from SuprSend dashboard -> tenants page
                          items:
                            type: string
        '404':
          description: '404 - Not Found'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "message": "tenant 'brand/tenant_id' not found"
                  }
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: "tenant 'brand/tenant_id' not found"
      deprecated: false
  /v1/subscriber_list/{list_id}/version/{version_id}/subscriber/add:
    post:
      summary: Add Users to Draft List
      security:
        - BearerAuth: []
      description: API to add users in the draft list by passing its `version_id` returned in [Start Sync](/reference/start-sync) API response.
      operationId: add-subscribers-to-draft-list
      parameters:
        - name: list_id
          in: path
          description: Unique string idenitifier of the list to which user needs to be updated
          schema:
            type: string
            default: _list_id_
          required: true
        - name: version_id
          in: path
          description: Unique string idenitifier of the draft version of the list to which user needs to be updated
          schema:
            type: string
            default: __version_id__
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                distinct_ids:
                  type: array
                  description: Array of subscriber_ids, uniquely identifying the subscribers to be added to the list.
                  default:
                    - user1
                  items:
                    type: string
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "success": true,
                    "affected_count": 0
                  }
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  affected_count:
                    type: integer
                    example: 2
        '404':
          description: '404 - Not Found'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "error_code": "not_found",
                    "type": "NotFound",
                    "message": "version_id 01JR6PCW8H9K3H40XZV4 not found for list_id 123",
                    "detail": "version_id 01JR6PCW8H9K3H40XZV4 not found for list_id 123"
                  }
              schema:
                type: object
                description: error code and message detailing the reason of failure
      deprecated: false
  /v1/subscriber_list/{list_id}/version/{version_id}/delete:
    patch:
      summary: Delete Draft List
      security:
        - BearerAuth: []
      description: API to delete draft version of the list. Use this to discard test or interim versions before publishing the final list.
      operationId: delete-draft-list
      parameters:
        - name: list_id
          in: path
          description: Unique string idenitifier of the list which you want to delete
          schema:
            type: string
          required: true
        - name: version_id
          in: path
          description: Unique identifier of the draft version of the list which needs to be deleted
          schema:
            type: string
            default: __version_id__
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "success": true
                  }
              schema:
                type: object
        '404':
          description: '404 - Not Found'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "error_code": "not_found",
                    "type": "NotFound",
                    "message": "version_id 01JR6PCW8H9K3H40XZV4A5R not found for list_id _list_id_",
                    "detail": "version_id 01JR6PCW8H9K3H40XZV4A5R not found for list_id _list_id_"
                  }
              schema:
                type: object
                description: error code and related message
      deprecated: false
  /v1/template/{template_slug}:
    get:
      summary: Fetch Template details
      security:
        - BearerAuth: []
      description: API to fetch content of a template group (active & draft versions) across all associated channels and languages.
      operationId: fetch-template-details
      parameters:
        - name: template_slug
          in: path
          description: Template group slug you want to fetch content details. You'll get the template slug by clicking on copy button next to template group name on SuprSend dashboard -> template details page.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    {
                      "id": "166277",
                      "name": "Task Reminder",
                      "slug": "task-reminder",
                      "description": "Batched template for all pending tasks",
                      "is_active": true,
                      "default_language": {
                        "name": "English",
                        "slug": "en"
                      },
                      "created_at": "2023-01-25T04:53:39.237291Z",
                      "updated_at": "2023-08-28T05:06:22.461443Z",
                      "updated_by": {
                        "name": "team_member",
                        "email": "user@example.com"
                      },
                      "last_triggered_at": "2023-08-10T12:44:03.361158Z",
                      "is_auto_translate_enabled": false,
                      "enabled_languages": ["en", "fr", "es"],
                      "channels": [
                        {
                          "id": "1244",
                          "channel": {
                            "name": "Email",
                            "slug": "email",
                            "is_template_approval_needed": true
                          },
                          "is_active": true,
                          "is_enabled": true,
                          "created_at": "2023-01-25T04:53:39.268299Z",
                          "updated_at": "2023-01-25T04:53:39.404273Z",
                          "disabled_languages": [],
                          "versions": []
                        }
                      ],
                      "tags": [
                        {
                          "id":"01H9HPT1C5ABN61S12D85J9DJ7",
                          "name": "tag"
                        }
                      ]
                    }
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: internal template_id
                  name:
                    type: string
                    description: template name given by user
                  slug:
                    type: string
                    description: unique template slug generated from name
                  description:
                    type: string
                    nullable: true
                    description: template description given by user
                  is_active:
                    type: boolean
                    description: "is true when atleast 1 template version is live for the channel"
                  default_language:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "English"
                      slug:
                        type: string
                        example: "en"
                  created_at:
                    type: string
                    format: date-time
                    description: template creation time
                  updated_at:
                    type: string
                    format: date-time
                    description: latest template modification time
                  updated_by:
                    type: object
                    properties:
                      name:
                        type: string
                        description: team member name who last updated the template
                      email:
                        type: string
                        format: email
                        description: team member email who last updated the template
                  last_triggered_at:
                    type: string
                    format: date-time
                    description: time when the workflow was last triggered
                  is_auto_translate_enabled:
                    type: boolean
                    example: false
                  enabled_languages:
                    type: array
                    items:
                      type: string
                    example: ["en", "fr", "es"]
                  channels:
                    type: array
                    description: array of all template enabled channels along with their language and active status
                    items:
                      type: object
                  tags:
                    type: array
                    description: tags added in the template group
                    items:
                      type: string
      deprecated: false
  /v1/subscriber_list/{list_id}/version/{version_id}/finish_sync:
    patch:
      summary: Finish Sync
      security:
        - BearerAuth: []
      description: API to finish sync and make the draft list version live.
      operationId: finish-sync
      parameters:
        - name: list_id
          in: path
          description: Unique string idenitifier of the list
          schema:
            type: string
            default: _list_id_
          required: true
        - name: version_id
          in: path
          description: Unique string idenitifier of the draft version of the list which needs to be made active(live)
          schema:
            type: string
            default: __version_id__
          required: true
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "list_id": "_list_id_",
                    "list_name": "_list_name_",
                    "list_description": "a brief of what type of users are part of this list",
                    "list_type": "static_list",
                    "subscribers_count": 0,
                    "source": null,
                    "is_readonly": false,
                    "status": "draft",
                    "track_user_entry": false,
                    "track_user_exit": false,
                    "requested_for_delete": false,
                    "created_at": "2025-04-06T23:18:59.601000Z",
                    "updated_at": "2025-04-06T23:18:59.601000Z",
                    "version_id": null
                  }
              schema:
                type: object
                properties:
                  version_id:
                    type: string
                    description: finish sync makes the draft version with the version_id live as well deletes the draft version.
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: {
                    "code": 404,
                    "error_code": "not_found",
                    "type": "NotFound",
                    "message": "version_id 01JR6PCW8H9K3H40XZV4A5R not found for list_id _list_id_",
                    "detail": "version_id 01JR6PCW8H9K3H40XZV4A5R not found for list_id _list_id_"
                  }
              schema:
                type: object
                description: error code and related message
      deprecated: false
  /v1/subscriber_list/{list_id}/version/{version_id}/subscriber/remove:
    post:
      summary: Remove Subscribers from Draft List
      security:
        - BearerAuth: []
      description: API to remove users from the draft list by passing its `version_id` returned in [Start Sync](/reference/start-sync) API response.
      operationId: remove-subscribers-from-draft-list
      parameters:
        - name: list_id
          in: path
          description: Unique string idenitifier of the list to which user needs to be updated
          schema:
            type: string
[...]
